body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
    /*background: #35459E;*/
    background: black;
    color: white;
}

h1{
    margin-top: 20%;
    font-weight: 400;
}

h2{
    font-weight: 100;
}

nav{
    margin-top: 2%;
}

#basicBio{
    margin-top: 50px;
}

#io{
    margin-top: 10px; 
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

p{
    font-size: 14px;
}

.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}
  
.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

.lan{
    margin: 10px;
    width: 20px;
}

.pro{
    width: 70px;
    margin: 5px;
}

#any{
    width: 100px;
}

#logo{
     
    width: 90px;
}

#logoGithub{
    width: 40px;
    transition: 0.6s;
}

#logoGithub:hover{
    transition: 0.6s;
    transform: scale(1.2);
}


span{
    font-size: 12px;
}