html, body {
    height: 100%;
    margin: 0;
    font-family: 'Hind Siliguri', sans-serif;
    /*background: #CDDCFF;*/
    background: #000000;
    text-align: center;
    color: #FFFFFF;
}

#me{
    margin-top: 1%;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    filter: grayscale(100%);
}

.resume{
    margin-top: 1%;
}

#Logo_AA_Black{
    width: 200px;
    height: 89px;
}

#logo9SG{
    width: 50px;
    height: 70px;
}

#logoCoco{
    width: 70px;
    height: 70px;
}

#logoMD{
    width: 40px;
    height: 35px;
}

#pl{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.cLan{
    width: 60px;
    height: 67px;
}

#footie{
    font-size: 12px;
}
