@font-face {
    font-family: "SF Pro Display";
    src: local('SF Pro Display'),
    url("fonts/SF-Pro-Display-Light.otf") format('opentype');
}

body{
    font-family: "SF Pro Display";
    text-align: center;
    background: #000000;
    color: white;
}

#logo{
    margin-top: 10%;
    width: 200px;
}
