html,body{
    margin: 0 auto;
    text-align: center;
    background: #63adb0;
    /*background: url("../img/back_2.jpg") center fixed no-repeat;*/
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

#fp{
    margin-top: 12%;
    width: 250px;
    height: 175px;
}

nav{
    margin-top: 2%;
    margin-bottom: 1%;
}

u, i, a{
    margin-left: 3%;
    margin-right: 3%;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    font-size: 16px;
}

form{
    margin: 0 auto;
    width: 50%;
    height: 300px;
    margin-top: 6%;
    background: #46BD62;
    border-radius: 100px;
}

#background{
    width: 100%;
    height: 300px;
    background: url("../img/veget.jpg");
    background-position: center;
}

#login{
    margin-top: 2%;
    border: 0;
    background: #FFFFFF;
    width: 20%;
    height: 35px;
    border-radius: 200px;
    transition: 0.6s;
}

#login:hover{
    background: #42A9B2;
    color: #FFFFFF;
    transition: 0.6s;
}

#loginForm{
    height: 400px;
}

#captcha{
    margin: 0 auto;
}

#user{
    background-image: url(../img/boy_1.png);
    background-position-y: center;
    background-position-x: 8px;
    padding-left: 25px;
    background-repeat: no-repeat;
}

#pass{
    background-image: url(../img/key_1.png);
    background-position-y: center;
    background-position-x: 8px;
    padding-left: 25px;
    background-repeat: no-repeat;
}

#user, #pass, #mail{
    margin-top: 6%;
    border-radius: 30px;
    border: 0;
    height: 35px;
    width: 200px;
    transition: 0.6s;
}

#user:focus, #pass:focus, #mail:focus{
    width: 300px;
    transition: 0.6s;
}

#signup{
    margin-top: 6%;
    text-decoration: none;
    color: #FFFFFF;
}

#su{
    width: 50%;
    height: 500px;
    margin-top: 6%;
    background: #46BD62;
    border-radius: 100px;
}

#mail{
    background-image: url(../img/email.png);
    background-position-y: center;
    background-position-x: 8px;
    padding-left: 25px;
    background-repeat: no-repeat;
}

#esp, #en{
    background: none;
    border: 0px;
    color: #FFFFFF;
}

#logoCoco{
    width: 80px;
    height: 80px;
}

.team{
    margin-top: 1%;
    font-size: 18px;
}

h2{
    margin-top: 3%;
}

.teammembs{
    width: 200px;
    height: 200px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: 0.4s;
}

.teammembs:hover{
    width: 230px;
    height: 230px;
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    transition: 0.4s;
}

#weathertable{
    margin: 0 auto;
    font-size: 20px;
}

#logoSWS{
    display: inline-block;
    width: 150px;
}

.active{
    color: #E6FF65;
}

#imgSlide1{
    background: url("../img/back_2.jpg") no-repeat center;
    width: 100%;
    height: 300px;
}

tr,th,td{
    font-weight: 200;
}

th{
    background: #42A9B2;
    color: white;
}

td{
    background: #46BD62;
    color: white;
}